h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    font-family: monospace;
}

body {
    font-size: 20px;
}

p {
    font-size: 10px;
}

#two {
    font-size: 2.0em;
}

/*Font Properties*/

p {
    font-style: italic;
    font-style: bold;
}

h1 {
    text-align: center;
}





